{% extends "base.html" %}
{% block title %} Kouyou - {{board_name}} {% endblock %}
{% block content %}
<div class=content>
    <div class=info>
        <h1>{{board_name}}</h1>
        <hr width="90%" size=1>
    </div>
    {% include "templates/postform.html" with postform_button="New Thread" %}
    <hr size=1>
    <ol class=threads>
        {% if threads|empty? %}
            No posts found
        {% else %}
            {% for thread in threads %}
                <li class=thread>
                    <div class=op>
                        {% with post_data=thread.primary show_reply=1 %}
                        {% include "templates/post.html" %}
                        {% endwith %}
                        {% if thread.total_post_count > 5 %}
                            <span class="omittedposts">{{thread.total_post_count|add:-5}} posts omitted. Click Reply to view.</span>
                        {% endif %}
                    </div>
                    {% if not thread.posts|empty? %}
                    <ol class=replies>
                        {% for post in thread.posts %}
                        <div>
                            <li class=reply>
                                {% with post_data=post %}
                                {% include "templates/post.html" %}
                                {% endwith %}
                            </li>
                        </div>
                        {% endfor %}
                    </ol>
                    {% endif %}
                </li>
                <span class=clear><hr></span>
            {% endfor %}
        {% endif %}
    </ol>
    <ol class=paginator>

    </ol>
</div>
{% endblock %}
