{% extends "templates/base.html" %}
{% block title %}
Kouyou - Edit Board
{% endblock %}
{% block content %}
<div class=content>
<header class=managetitle>
    <h1>Edit Board - /{{nick}}/</h1>
</header>
<center>
    {% if success %}
    <span class=success>Board Modified</span>
    {% endif %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{error|second}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form class=post method=POST id=boardform name=boardform enctype="multipart/form-data">
        {% csrf-field %}
        <table>
            <tbody>
                <tr>
                    <td class=labelblock>
                        <label for=nick> Nickname </label>
                    </td>
                    <td>
                        <input type=text class=inputtext size=28 maxlength=10 name=nick value="{{nick}}">
                    </td>
                </tr>
                <tr>
                    <td class=labelblock>
                        <label for=name> Name </label>
                    </td>
                    <td>
                        <input type=text class=inputtext size=28 maxlength=255 name=name value="{{name}}">
                    </td>
                </tr>
                <tr>
                    <td class=labelblock>
                        <label for="tagline"> Tagline </label>
                    </td>
                    <td>
                        <input type=text class=inputtext size=28 maxlength=255 name=tagline value="{{tagline}}">
                    </td>
                </tr>
                <tr>
                    <td class=labelblock>
                        <label for="is_hidden"> Hidden </label>
                    </td>
                    <td>
                        <input type=checkbox name=is_hidden {% if is_hidden %} checked {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td class=labelblock>
                        <label for="is_text_only"> Text Only </label>
                    </td>
                    <td>
                        <input type=checkbox name=is_text_only {% if is_text_only %} checked {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input class=button type=submit value="Save Changes">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    </center>
</div>
{% endblock %}
