{% extends "templates/base.html" %}
{% block title %}
Kouyou - Manage
{% endblock %}
{% block content %}
<div class=content>
<header class=managetitle>
    <h1>Administration Panel</h1>
</header>
<fieldset>
    <legend>Boards</legend>
    {% if boards|empty? %}
    No boards exist
    {% else %}
        <ul>
            {% for board in boards %}
            <li>
                <a href="/boards/{{board.nick}}">/{{board.nick}}/</a>
                -
                {{board.name}}
                {% if board.tagline %}
                -
                <small>{{board.tagline}}</small>
                {% endif %}
                <a href="/manage/boards/{{board.nick}}"><small>[edit]</small></a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="/manage/create-board" ><strong>Create New Board</strong></a>
</fieldset>
<fieldset>
    <legend>Config</legend>
    <a href="/manage/staff" ><strong>Manage Staff</strong></a>
</fieldset>
</div>
{% endblock %}
