{% extends "templates/base.html" %}
{% block title %}
{% if thread.primary.subject %}
{{board_name}} - {{thread.primary.subject}}
{% else %}
Kouyou - {{board_name}}
{% endif %}
{% endblock %}
{% block content %}
<div class=content>
    <div class=info>
        <h1>{{board_name}}</h1>
        <hr width="90%" size=1>
    </div>
    {% include "templates/postform.html" with postform_button="Post" %}
    <hr size=1>
    <div class=op>
        {% with post_data=thread.primary %}
        {% include "templates/post.html" %}
        {% endwith %}
    </div>
    {% if not thread.posts|empty? %}
        <ol class=replies>
            {% for post in thread.posts %}
                <div>
                    <li class=reply>
                        {% with post_data=post %}
                        {% include "templates/post.html" %}
                        {% endwith %}
                    </li>
                </div>
            {% endfor %}
        </ol>
    {% endif %}
</div>
{% endblock %}
