<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Kouyou{% endblock %}</title>

        <!-- styles -->
        {% style """/css/base.css" %}
        {% style """/css/futaba.css" %}
        {% block styles %}
        {% endblock %}
    </head>
    <body>
          <!-- navbar -->
          <nav class="navbar">
              <div class="container">
                  {% include "templates/nav.html" %}
              </div>
          </nav>

          <!-- content -->
          <section class="section">
              {% block content %}
              {% endblock %}
          </section>


        <!-- footer -->
        <section class=section>
            <footer>
                <p>Powered by Kouyou <a href="https://github.com/Oreko/kouyou">Github</a></p>
            </footer>
        </section>
        <!-- scripts -->
        {% block page-scripts %}
        {% endblock %}
    </body>
</html>
