<ul class={{post_class}} id="p{{post_data.post_id}}">
    <il class=postinfo>
        {% if not post_data.subject = nil %}
        <big class=replytitle>
            <b>{{post_data.subject}}</b>
        </big>
        {% endif %}
    
        <span class=postername>
            {% if not post_data.email = nil %}
                <a href="mailto:{{post_data.email}}">{{post_data.name}}</a>
            {% else %}
                <b>{{post_data.name}}</b>
            {% endif %}
        </span>
    
        {{post_data.created_at|date:"yyyy-MM-dd HH:mm"}}
    
        <a href=#p{{post_data.post_id}}>No.</a>
        <a href=/boards/{{board_nick}}/res/{{post_data.post_id}}#p{{post_data.post_id}}>{{post_data.post_id}}</a>
    </il>
    <il class=postcontent>{{post_data.content}}</il>
</ul>
