<div class=post id="p{{post_data.post_id}}">
    {% if post_data.is_primary %}
    {% if post_data.media_id %}
        <div class=filesize>
            File: <a href="/media/{{post_data.media_id}}">{{post_data.media_name}}</a>
            ({{post_data.size|to-kb}} KB, {{post_data.width}}x{{post_data.height}})
        </div>
        <a href="/media/{{post_data.media_id}}" target=_blank rel=nofollow><img src="/media/{{post_data.thumbnail_id}}" title="Click to show view full image" ></a>
    {% endif %}
    {% endif %}
    <div class=postinfo>
        {% if post_data.subject %}
        <big class=posttitle>
            <b>{{post_data.subject}}</b>
        </big>
        {% endif %}
        <span class=postername>
            {% if post_data.email %}
                <a href="mailto:{{post_data.email}}">{{post_data.name}}</a>
            {% else %}
                <b>{{post_data.name}}</b>
            {% endif %}
        </span>
        {{post_data.created_at|date:mediumDateTime}}
        <nobr>
            <span class=postnumber>
                <a href=/boards/{{board_nick}}/res/{{post_data.post_id}}#p{{post_data.post_id}}>No.</a><a href=/boards/{{board_nick}}/res/{{post_data.post_id}}#p{{post_data.post_id}}>{{post_data.post_id}}</a>
            </span>

            {% if all post_data.is_primary show_reply %}
            [<a href=/boards/{{board_nick}}/res/{{post_data.post_id}}>Reply</a>]
            {% endif %}
        </nobr>
    </div>
    {% if not post_data.is_primary %}
    {% if post_data.media_id%}
        <div class=filesize>
            File: <a href="/media/{{post_data.media_id}}">{{post_data.media_name}}</a>
            ({{post_data.size|to-kb}} KB, {{post_data.width}}x{{post_data.height}})
        </div>
        <a href="/media/{{post_data.media_id}}" target=_blank rel=nofollow><img src="/media/{{post_data.thumbnail_id}}" title="Click to show view full image" ></a>
    {% endif %}
    {% endif %}
    <blockquote>{{post_data.content}}</blockquote>
</div>
